body {
    background-image:url('../images/background.jpg');
    font-family: 'Cinzel', serif;
    padding-top:20px;
}

h2 {
    color:#004db2;
}

img {
    border-radius: 8px;
}

.container {
    width: 750px;
    margin: 0 auto;
}

.leftBox, .rightBox {
    width: 49%;
    float: left;
    height: 550px;
    background-color:#ffffff7a;
    border-radius: 10px;
    box-shadow:5px 5px 10px #00000040;
}

.rightBox {
    float:right;
    position: relative;
    text-align:center;
}

.buttonDiv {
    width:100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-bottom: 40px;
}

.resetButton {
    margin: 0 auto;
}

.currentWordText {
    margin-bottom:30%;
}

#currentWordHint, #lettersGuessed {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.letterDiv {
    border-bottom: 3px solid black;
    /*
    width: 30px;
    float:left;
    margin-left:20px;
    margin-right: 20px;
    */
    flex-basis:7%;
    margin-left:1%;
    margin-right:1%;
    margin-top:30px;
    font-size: 30px;
}

.guessedLetterDiv {
    flex-basis:10%;
    margin-left:1%;
    margin-right:1%;
    font-size: 30px;
}

#winText, #guessText, .letterDiv, .guessedLetterDiv {
    color: #646f78;
}

#headerLogo {
    height: 100px;
    width: 100%;
    margin-bottom:20px;
}

#thronesImage {
    display:none;
    width:90%;
    margin:10px auto;
    height:230px;
}

#resetButton {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-family: 'Cinzel', serif;
    font-size: 25px;
    color: #004db2;
    background-color: white;
    box-shadow: 5px 5px 15px #0000004d;
}